@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");

:root {
  --black: #020202;
  --dark: #393e46;
  --white: #eeeeee;
  --primary: #07a2ad;
  --bright: #aad8d3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* preloader */
#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.loader-box {
  width: 400px;
  height: 120px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
#counter {
  font-size: 20px;
  font-weight: bold;
  color: var(--white);
  position: relative;
  margin-bottom: 10px;
}
.bars-container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  /* align-items: start; */
  gap: 3px; /*space between bars*/
  padding: 2px;
  overflow: hidden;
  /* position: relative; */
  /* background: repeating-linear-gradient(
    -45deg,
    #3498db,
    #3498db 10px,
    transparent 10px,
    transparent 20px
  );
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.1s linear; */
}
.bar {
  width: calc(100% / 100 - 3px); /*each bar has 1% width - the gap*/
  height: 10px;
  background-color: red;
  opacity: 0;
  transition: opacity 0.2s linear, background-color 0.3s ease;
}
/* .bars-container::before {
  content: "";
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    -45deg,
    #3498db,
    #3498db 10px,
    transparent 10px,
    transparent 20px
  );
  animation: barsAnimation 5s linear forwards;
  opacity: 0; */
/* }
@keyframes barsAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

.green-bars .bar {
  background-color: #02e279c3 !important;
}

body {
  background-color: var(--black);
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Inter";
}
h1,
span,
strong,
p,
.sect-heading,
.hi,
label {
  font-size: clamp(var(--min), var(--val), var(--max));
}
h1,
strong {
  --min: 2em;
  --val: 9vw;
  --max: 4em;
}
.sect-heading,
.hi {
  --min: 1.5em;
  --val: 3vw;
  --max: 2em;
}
p,
label {
  --min: 1em;
  --val: 2.5vw;
  --max: 1.5em;
}
a,
a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
}
section {
  max-width: 100vw;
}
.hidden {
  display: none;
}
nav {
  position: fixed;
  z-index: 1;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  padding: 10px 5%;
  color: var(--white);
}
#hamburger {
  width: fit-content;
  cursor: pointer;
}
/* #navbar, #social {
  width: 40%;
} */
/* link hover */
.menuItem::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}
.menuItem:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.menuItem::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  z-index: -1;
  background: var(--primary);
  transition: transform 1s ease;
}
.menuItem {
  position: relative;
  color: var(--white);
}
.menuItem a {
  padding: 0.5rem 4rem 0.5rem 1rem;
  display: block;
  width: 100%;
  height: 100%;
}
#social a {
  margin: 10px 5px;
}

#hero {
  display: flex;
  animation: fade-in 2s;
  padding: 5rem 5%;
  min-height: 100vh;
}
#svgImg {
  --small: 200px;
  --val: 50vw;
  --big: 400px;
  width: clamp(var(--small), var(--val), var(--big));
  position: absolute;
  top: 180px;
  right: 2%;
  z-index: -1;
}
#welcome {
  display: block;
  padding-top: 50px;
  font-weight: 300;
  color: var(--white);
  letter-spacing: 0.03em;
  max-width: 55%;
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.7, 0.7);
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.7, 0.7);
  }
  to {
    opacity: 1;
  }
}
#welcome strong {
  font-weight: 600;
  color: var(--primary);
}

/*about section */
#aboutSect {
  width: 90%;
  margin: 0 5% 20% 5%;
  border: 2px solid var(--primary);
  border-radius: 15px;
  color: var(--bright);
}
.sect-heading {
  background-color: var(--black);
  position: relative;
  top: -25px;
  left: 5%;
  padding: 5px 20px;
}

#about {
  /* width: 550px; */
  padding: 0 5% 5% 5%;
  text-align: justify;
  text-justify: inter-character;
}
#projectSect {
  margin: 0 0 20% 10%;
  padding: 0;
  width: 90%;
  /* height: fit-content; */
  color: var(--bright);
  border: 3px solid var(--primary);
  border-right-style: none;
}
#projects {
  /* border: 1px solid #ccc; */
  overflow: scroll;
  width: 100%;
  padding-left: 10px;
  white-space: nowrap;
  display: flex;
  align-items: center;
}
.project {
  background: linear-gradient(
    330deg,
    rgba(7, 162, 173, 1) 0%,
    rgba(2, 2, 2, 1) 100%
  );
  color: var(--white);
  min-width: 300px;
  margin: 1rem;
  border-radius: 10px;
}
.project img {
  max-width: 100%;
}
.project-info {
  padding: 0.5rem 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 0.5px;
}
.project-info h3 {
  margin: 0;
}
.project-info span {
  background-color: var(--black);
  border-radius: 3px;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
}
.project-info span.code {
  color: red;
}
.project-info span.real {
  color: green;
}
.project-info,
.project-description {
  padding: 1rem;
  white-space: normal;
}

#contactSect {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 5rem;
}
input {
  -webkit-appearance: none;
  appearance: none;
}
/* input:invalid {
  border-color: #900;
}
input:focus:invalid {
  outline: none;
} */
.error {
  border-color: #900;
}
.error-message {
  color: #900;
  font-style: italic;
  margin-bottom: 1em;
}
.error-message.active {
  display: block;
  visibility: visible;
  padding: 0.3em;
}
#contact-form {
  width: 100%;
  color: var(--bright);
}
#contact-form p {
  margin-bottom: 50px;
}
#form-message {
  /* background-color: var(--white); */
  color: red;
  padding: 20px;
}
.form-element {
  color: var(--bright);
  display: flex;
  flex-direction: column;
}
.form-field {
  background-color: #222;
  padding: 10px;
  margin-bottom: 20px;
  color: var(--white);
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--primary);
  border-radius: 5px;
}
#form-submit {
  border: none;
  border-radius: 5px;
  background-color: var(--primary);
  color: var(--bright);
  font-size: 1.5em;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 50px;
}

/* this is for the quote div */
#quoted {
  width: 80%;
  display: flex;
  flex-direction: column;
  color: var(--bright);
  font-family: "Anonymous Pro", monospace;
  font-size: 0.6em;
  text-align: justify;
  text-justify: inter-character;
  border-radius: 10px;
}
#quoted p {
  overflow: hidden;
  margin: 0 auto;
  display: inline-block;
  font-weight: normal;
  margin-bottom: 20px;
}
#quoted p:after {
  content: "";
  display: inline-block;
  background-color: var(--bright);
  margin-left: 2px;
  height: 10px;
  width: 2px;
  animation: cursor 0.1s infinite;
}

/*typewriter cursor effect*/
@-webkit-keyframes cursor {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes cursor {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#quoted small {
  text-align: right;
}
#details {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
#footer {
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

#links {
  width: 80%;
}

@media screen and (min-width: 40rem) {
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
  }
  #hamburger {
    display: none;
  }
  #navbar, #social {
    display: flex;
    flex-direction: row;
  }
  #svgImg {
    position: absolute;
    top: 150px;
    right: 40px;
  }

  #contact-form {
    width: 40%;
  }
  #quoted {
    position: relative;
    top: -50px;
    width: 40%;
  }
}
